<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beranda</title>
    <style>
      img {
        height: 45px;
        width: 45px;
        border-radius: 100%;
      }
    </style>
<!-- HEADER -->
<%- include('partials/header.ejs') %>
<!-- HEADER -->
    <div class="container mt-4">
      <div class="row">
      <!-- CONTENT POSTING -->
      <h3>POSTINGAN</h3>
      <a href="/post">
        <button type="button" class="btn btn-outline-success mb-4">Tambahkan Postingan</button>
      </a>
      <div class="col-md-8">
        <% user.forEach(item => { %>
        <% item.Posts.forEach(post => { %>
          <div class="card mb-3">
            <div class="card-body">
              <div class="card">
                  <div class="card-header" style="display: flex;">
                    <img src="<%= item.Profile.photoProfile %>" alt="profile" class="me-2">
                    <p class="fw-bold" style="position: relative;top: 12px;"><%= item.Profile.userName %></p>
                  </div>
                  <div class="card-body">
                      <p class="card-title fw-bold"><%= post.title %></p>
                      <p class="card-text" style="margin-top: 15px; margin-bottom: 8px;"><%= post.descPost %></p>
                  </div>
                  <div class="card-body fw-bold" style="margin-top: -15px; display: flex;">
                      <p class="me-4"><a href="/post/<%= post.id %>/like">
                          <button type="button" class="btn btn-outline-primary"
                                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                          Like
                          </button>
                      </a> : <%= post.likePost %></p>
                      <p class="me-4"><a href="/post/<%= post.id %>">
                          <button type="button" class="btn btn-outline-success"
                                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                          Comment
                          </button>
                      </a> : <%= post.Comments.length %></p>
                  </div>
              </div>
            </div>
          </div>
        <% }) %>
        <% }) %>
      </div>
      <!-- CONTENT SEARCH SEBELAH KANAN -->
      <div class="col-md-4">
        <div style="border: lpx solid #999 solid blue;">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="margin-bottom: 12px;">Find Our User list !</h5>
              <form class="d-flex" role="search" style="margin-right: 132px;">
                <input class="form-control me-2" type="search" style="width: 300px;" name="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary btn-sm" type="submit">Search</button>
              </form>
              <ul class="list-group mt-4">
                <% profile.forEach(item => { %>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                  <%= item.userName %>
                  <span class="badge text-bg-primary rounded-pill"> 0 </span>
                <% }); %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>